
.category-pill {
  width: 50%;
  // border-radius:2px;
  // color: green;
  cursor: pointer;
  // border: 1px blue solid;
  text-align: center;
}

.subcategory-pill {
  width: 50%;
  // border-radius:2px;
  // color: green;
  cursor: pointer;
  // border: 1px blue solid;
  text-align: center;
}
