
  <div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Catenator</a>
        </div>
        <div class="">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/category">Categories</a></li>
            <li><a href="/track">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- <app-category></app-category> -->
  <router-outlet></router-outlet>
